@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #f9fbfd;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

#app {
  max-width: 100%;
  margin: 0 auto;
}

.subtitulo{
  font-size: 2rem;
  font-weight: 400;
  color: #6D9886;
  display: flex;
  justify-content: center;
}

.mini-subtitulo{
  font-size: 1.2rem;
  font-weight: 400;
  color: #6D9886;
  display: flex;
  justify-content: center;
}

.text{
  font-size: 1.5rem;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 1.5rem;
  }

  .text{
    font-size: 1rem;
  }

  .mini-subtitulo{
    font-size: 1rem;
    font-weight: 400;
    color: #6D9886;
    display: flex;
    justify-content: center;
  }
}